<ul class="justify-center flex gap-6 font-semibold text-slate-700 text-lg">
    <li>
        <a href="">
            <app-buttton class="hidden lg:block" name="Sign In" size="L"></app-buttton>
            <app-buttton class="lg:hidden" name="Sign In" size="M" shade="W" animation="F"></app-buttton>
        </a>
    </li>
    <li>
        <a href="">
            <app-buttton class="hidden lg:block" name="Sign Up" size="L" shade="W" animation="F"></app-buttton>
            <app-buttton class="lg:hidden" name="Sign Up" size="M" shade="W" animation="F"></app-buttton>
        </a>
    </li>
</ul>