<section class="bg-emerald-50">
    <div class="container mx-auto px-5 h-[50px] pt-48">
      Angular s a TypeScript-based free and open-source single-page web application framework run on Node.js. It is developed by Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.
    </div>
    
</section>
<section>
  <div class="container py-24 flex gap-5">
    <app-buttton ></app-buttton>
    <app-buttton size="M"></app-buttton>
    <app-buttton size="L"></app-buttton>
  </div>
  
</section>
